
body{
    font-family: Lato, sans-serif;
    margin: 0 auto;
    min-width: 375px;
}

.wrapper {
    width: 100%;
    max-width: 1020px;
    margin: auto;
}

.border {
width: 100%;
height: 6px;
margin: auto;
}

  /* header */
.header {
    background-color: #2D303A;
    position: sticky;
    top: 0;
    z-index: 100;
}

.burger {
    display: none;
}

.border__header {
  background-color: #323746;
}

.header__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
}

.header__wrapper-burger {
    display: none;
}

.header_mainLogo {
    display: flex;
    align-items: center;
    padding: 0;
    margin-left: 40px;
    color: #FFFFFF;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 30px;
    letter-spacing: -0.03em;
}

.header_secondLogo {
    color:  #F06C64;
}

.header_navigationList {
    display: flex;
    margin-top: 42px;
    margin-bottom: 33px;
    margin-right: 40px;
    justify-content: space-between;
    list-style: none;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    letter-spacing: -0.035em;
    cursor: pointer;
}

.header_navigationList a {
    text-decoration: none;
    color: #ffffff;  
}
  
.header_navigationList a::before {
    content: "•";
    font-size: 5px;
    color: #ffffff;
    padding-left: 15px;
    padding-right: 15px;
    vertical-align: 3px;
}

#header_navigationList_Link a::before{
    content: none;
    text-decoration: none;
}

.header_navigationList a:hover {
    color: #F06C64;
}


/* Slider */

.slider__wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 40px;
    margin-right: 40px;
}

.border__slider {
background-color: #EA676B;;
}

.slider {
    background-color: #f06c64;
}

.slider_left:hover {
    cursor: pointer;    
}

.slider_right:hover {
    cursor: pointer;
} 

.slideTwo {
    display: none;
    position: absolute;
    right: 111px;
}

/* Tools */

.border__tools {
   background-color:  #FFFFFF;
}

h2 {
    margin-left: 40px;
    margin-top: 59px;
    font-family: Lato;
    font-style: normal;
    font-weight: 900;
    font-size: 30px;
    line-height: 36px;
    color: #666D89;
}

.tools {
  background-color:  #F2F2F2;
  position: relative;
}

.position {
    position: absolute;
    top:-95px;
}

.tools__wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1020px;
}

.tools_text {
    font-family: Lato;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
    color: #767E9E;
    margin-left: 40px;
    margin-right: 44px;   
}

.tool_h {
    font-family: Lato;
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 18px;
    color: #666D89;
    margin-top: 0;
}

.tool_text {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 22px;
    color: #767E9E;
    height: 77px;
    width: 220px;
    margin-top: 0;
    text-align: justify;
}

.layout-3-column {
    flex-wrap: wrap;
    display: flex;
   flex-direction: row;
   justify-content: space-between;
   overflow: hidden;
}

.tools_icon {
    margin-left: 40px;
    margin-right: 40px;
}

.column_tool {
    display: flex;
    flex-direction: row;
}

.ico {
    margin-right: 20px;
}

/* Portfolio */
.portfolio {
    background-color: #2D303A;
    position: relative;
}

.portfolio__wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1020px;
}

.tag {
    border: 1px solid #767E9E;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 6px;
    margin: 5px;
    text-align: center;
}

.portfolio_tags {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    margin-bottom: 24px;
    padding-left: 40px;
    color: #767E9E;
}

.tag:hover {
    color: #DEDEDE;
    cursor: pointer;
    border-color:#DEDEDE ;
}

.portfolio_images {
    margin-left: 40px;
    padding-bottom: 68px;
    margin-right: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr ;
    grid-gap: 20px;
}

.images:nth-child(n + 13) {
    display: none;
  }

.border__portfolio {
    background-color: #323746;
}

/* Footer */

#footer {
    background-color: #2D303A;
}

.footer__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1020px;
}

.footer_links {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin-right: 40px;
}

.footer_links a{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 4px;
  margin-right: 4px;
  border: solid;
  border-width: 1px;
  border-radius: 50%;
  border-color: #666D89;
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer_copiright{
    margin-left: 40px;
    font-family: Lato;
    font-style: normal;
    font-weight: 900;
    font-size: 13px;
    line-height: 18px;
    color: #666D89;
}


@media screen and (min-width: 768px) and (max-width: 1020px) {
    .portfolio_images {
        margin-left: 40px;
        padding-bottom: 68px;
        margin-right: 40px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-gap: 20px;  
    }
    
   .column_tool {
        width: 50%;
        justify-content: center;
    }
}

@media screen and (min-width: 320px) and (max-width: 768px) {
    .portfolio_images {
        margin-left: 30px;
        padding-bottom: 42px;
        margin-right: 30px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-gap: 14px; 
    }

    .images:nth-child(n + 9) {
    display: none;
    }

    .border__portfolio {
    display: contents
    }  

    .footer_copiright {
    display: none;
    }

    .footer_links {
    width: 100%;
    justify-content: center;
    }

    .header_navigationList {
        display: none;
    }

    .header_mainLogo {
        justify-content: center;
    }

    .burger {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 25px;
        cursor: pointer;
    }


    /* BURGER STYLES */
    .active .header__wrapper  {
       height: 63px;
   }
   
   .active .header_mainLogo {
       display: none;
   }
   
   .active .burger{
       display: none;  
   }
   
   .active .header  {
       position: relative;
   }

   .active .header__wrapper-burger  {
       position: fixed;
       top: 0;
       width: 277px;
       height: 100%;
       background-color: #2D303A;
       display: flex;
       flex-direction: column;
       justify-content: flex-start;
       align-items: flex-start;
       z-index:2    
   }
   
   .active .mainLogo-burger {
       display: flex;
       flex-direction: row;
       align-items: center;
       justify-content: space-between;
       width: 100% ;
       margin-top: 25px;
       margin-bottom: 180px;
    }

    .active .burger-burger  {
        margin-left: 22px;
        cursor: pointer;
        transform: rotate(90deg);
        }
    

    .active .header_mainLogo-burger h1{
        margin: 0;
        margin-right: 40px;
        color: #ffffff;
        font-size: 25px;
        line-height: 30px;
    }

    .active .header_mainLogo-burger span{
        color: #f06c64;
    }

    .active  .header_navigation-burger li{
        cursor: pointer;
        list-style-type: none;
        margin-top: 0;
        padding-left: 40px;
        font-size: 24px;
        line-height: 29px;
        margin-bottom: 27px;  
    }
    
    .active .header_navigation-burger a {
        color: #FFFFFF;
        cursor:pointer;
        text-decoration: none;
    }

    .active  .header_navigation-burger a:hover{
        color: #f06c64;
        cursor: pointer;
    }

     .active .burgerShadow {
    background: #2D303A;
    opacity: 0.6;
    height: 100%;
    width: 100%;
    position: fixed;
    display: flex;
    }

  .active.body {
      overflow: hidden;
  }
}

/* --------------Java Script------------------------ */

.changeImages {
    display: grid;
    order: 8;
}

/* ------------------------------------Sliders---------------------- */
.sliderActive .slideTwo {
    display: contents;
    position: absolute;
    right: 111px;
    width: 100%;
}

.sliderActive .slideOne {
    display: none;
}
 
.sliderActive .slider__wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 30px;
    margin-right: 50px;
    background-color: #648BF0;
}

.sliderActive .border__slider {
    background-color: #648BF0;
}

.sliderActive .slider {
    background-color: #648BF0;
}

.slider  .sliderActive  {
    background-color: #648BF0;
}

.header_navigationList .changeColor{
    color: #f06c64;
}

.portfolio__wrapper .colorTag {
    border-color: #DEDEDE;
    color: #DEDEDE;
}